---
import Layout from '@/layouts/Layout.astro';
import PongGame from '@/components/PongGame';
---

<Layout title="Pong Game - Classic Arcade Game">
	<main>
		<PongGame client:load />
	</main>
</Layout>
